{# checking authentification #}
{% set auth_rem = is_granted("IS_AUTHENTICATED_REMEMBERED") %}
{% set auth_admin = is_granted("ROLE_ADMIN") %}

{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %} - ODE v2</title>

        {%  stylesheets
            '@MopaBootstrapBundle/Resources/public/less/mopabootstrapbundle.less'

        %}

            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
        {% endstylesheets %}

        {% block stylesheets %}

            <link href="{{ asset('bundles/app/css/bootstrap.css') }}" rel="stylesheet" />
            <link href="{{ asset('bundles/app/css/jquery-ui.css') }}" rel="stylesheet" />
            <link href="{{ asset('bundles/mopabootstrap/components/smalot-bootstrap-datetimepicker/css/bootstrap-datetimepicker.css') }}" rel="stylesheet" media="screen">
        
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <style>
            .ribbon {
              //background-color: #a00;
              background-color: #1EBA57;
              overflow: hidden;
              white-space: nowrap;
              /* top left corner */
              position: absolute;
              right: -50px;
              top: 90px;
              /* 45 deg ccw rotation */
              -webkit-transform: rotate(45deg);
                 -moz-transform: rotate(45deg);
                  -ms-transform: rotate(45deg);
                   -o-transform: rotate(45deg);
                      transform: rotate(45deg);
              /* shadow */
              -webkit-box-shadow: 0 0 10px #888;
                 -moz-box-shadow: 0 0 10px #888;
                      box-shadow: 0 0 10px #888;
            }
            .ribbon a {
              border: 1px solid #faa;
              color: #fff;
              display: block;
              font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
              margin: 1px 0;
              padding: 10px 50px;
              text-align: center;
              text-decoration: none;
              /* shadow */
              text-shadow: 0 0 5px #444;
            }
        </style>
    </head>
    <body role="document" style="padding-top: 60px">
        <div class="ribbon">
          <a href="https://github.com/LiberTIC/ODEV2">Fork me on Github</a>
        </div>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="{{ path('homepage') }}">Open Data Event - v2</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-left">
                        <li {% if active == "homepage" %}class="active"{% endif %}>
                            <a href="{{ path('homepage') }}">Home</a>
                        </li>
                        <li {% if active == "calendar" %}class="active"{% endif %}>
                            <a href="{{ path('calendar_home') }}">Calendriers</a>
                        </li>
                        <li {% if active == "event" %}class="active"{% endif %}>
                            <a href="{{ path('event_home') }}">Evénements</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if not auth_rem %}
                            <li>
                                <p class="navbar-btn">
                                <a href='{{ path("fos_user_security_login") }}' class="btn">
                                    Se connecter
                                </a>
                                </p>
                            </li>

                            <li>
                                <p class="navbar-btn">
                                <a href='{{ path("fos_user_registration_register") }}' class="btn btn-default">
                                    S'enregistrer
                                </a>
                                </p>
                            </li>
                        {% else %}
                            <li>
                                <p class="navbar-btn">
                                <a href='{{ path("fos_user_security_logout") }}' class="btn">
                                    Se déconnecter
                                </a>
                                </p>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="content">
                {% block flashes %}
                    {% if app.session.flashbag.peekAll|length > 0 %}
                    <div class="row">
                        <div class="col-lg-12">
                        {{ session_flash() }}
                        </div>
                    </div>
                    {% endif %}
                {% endblock %}
                {% block body %}

                {% endblock %}
            </div>
        </div>

        {% block javascripts %}

            <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/js/jquery-ui.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/js/bootstrap.js') }}"></script>

            <script type="text/javascript" src="{{ asset('bundles/mopabootstrap/components/smalot-bootstrap-datetimepicker/js/bootstrap-datetimepicker.js') }}" charset="UTF-8"></script>
            <script type="text/javascript" src="{{ asset('bundles/mopabootstrap/components/smalot-bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.fr.js') }}" charset="UTF-8"></script>

            <script  type="text/javascript" src="{{ asset('bundles/mopabootstrap/js/mopabootstrap-collection.js') }}"></script>

        {% endblock %}

        <script type="text/javascript">
            $(function(){
                $('[data-provider="datepicker"]').datetimepicker({
                    autoclose: true,
                    format: 'dd/mm/yyyy',
                    language: 'fr',
                    minView: 'month',
                    pickerPosition: 'bottom-left',
                    todayBtn: true,
                    startView: 'month'
                });
                $('[data-provider="datetimepicker"]').datetimepicker({
                    autoclose: true,
                    format: 'd MM yyyy - hh:ii',
                    language: 'fr',
                    pickerPosition: 'bottom-left',
                    todayBtn: true
                });
                $('[data-provider="timepicker"]').datetimepicker({
                    autoclose: true,
                    format: 'hh:ii',
                    formatViewType: 'time',
                    maxView: 'day',
                    minView: 'hour',
                    pickerPosition: 'bottom-left',
                    startView: 'day'
                });
                // Restore value from hidden input
                $('input[type=hidden]', '.date').each(function(){
                    if($(this).val()) {
                        $(this).parent().datetimepicker('setValue');
                    }
                });
            });
        </script>

    </body>
</html>
