{% extends 'base.html.twig' %}

{% set active="homepage" %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    
    <div class="page-header">
        <h1>Bienvenue sur ODE v2</h1>
    </div>


    {% if auth_rem %}

        <p>Vous êtes connecté sous le pseudo "{{ app.security.getToken().getUser().getUsername() }}"</p>

        <ul>
             <li>
                <a href="{{ path("fos_user_profile_show") }}">
                    Accéder à votre profil
                </a>
            </li>
            <li>
                <a href="{{ path("fos_user_security_logout") }}">
                    Se déconnecter
                </a>
            </li>
        </ul>

        <br/>
        <br/>

        <p>Pour vous connecter depuis un client calendrier, utilisez les informations suivantes:</p>

        <ul>
            <li><b>Nom d'utilisateur:</b> {{ app.security.getToken().getUser().getUsernameCanonical()}}</li>
            <li><b>Mot de passe:</b> <i>{Votre mot de passe}</i></li>
            <li><b>Addresse du serveur:</b> {{ url('caldav') }}/principals/{{ app.security.getToken().getUser().getUsernameCanonical()}}</li>
        </ul>

    {% else %}

        <p>Vous n'êtes pas connecté</p>

        <ul>
            <li>
                <a href="{{ path("fos_user_security_login") }}">
                    Se connecter
                </a>
            </li>
        </ul>

    {% endif %}

{% endblock %}
