
{% extends 'MopaBootstrapBundle::base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    {{ form_stylesheet(form) }}

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    {{ form_javascript(form) }}

{% endblock %}

{% block body %}

    <form class="well bs-example ">


        {{ form_errors(form) }}

        <fieldset>
            <legend>Description</legend>
            {{ form_row(form.nom) }}
            {{ form_row(form.description) }}
            {{ form_row(form.categorie) }}
            {{ form_row(form.tags) }}
        </fieldset>

        <fieldset>
            <legend>Dates</legend>
            {{ form_row(form.date_debut) }}
            {{ form_row(form.date_fin) }}
        </fieldset>

        <fieldset>
            <legend>Lieu</legend>
            {{ form_row(form.lieu) }}
            {{ form_row(form.emplacement) }}
        </fieldset>

        <br/>

        <button type="submit" class="btn">Create</button>

    </form>

{% endblock %}